@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
    ViewBag.Title = "Account registration failed";
}

<h1 class="head-title">Account registration failed</h1>

<p>Sorry, registration confirmation details have not been recognised. Please <a href="/auth/registration">register</a> again.</p>