
.public-article {
    .key-points {
        margin-top: 15px;
    }

    .bullet-points {
        margin-top: 15px;
    }

    .summary {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .full-article-link, .article-more-link {
        margin-top: 15px;
    }
}
