
@{
    ViewBag.Title = "TinyMCE test";
}

@section Scripts
{
    @Scripts.Render("~/Scripts/App/tiny-mce.js")
    @Scripts.Render("~/Scripts/tinymce/tinymce.min.js")
}

<h1 class="head-title">@ViewBag.Title</h1>

<textarea>

</textarea>




