.controls-table {
    tr {
        td {
            padding: 5px 15px;
        }

        td:first-child {
            padding-left: 0px;
            min-width: 100px;

            label {
                padding-top: 5px;
            }
        }
    }
}
