.table-wrapper {
  margin-top: 20px; }

table.data-grid thead tr th {
  font-weight: bold;
  font-size: 100%; }
  table.data-grid thead tr th .table-header-text {
    display: inline-block;
    vertical-align: middle; }
  table.data-grid thead tr th .sort-action {
    color: black;
    display: inline-block;
    vertical-align: middle; }
    table.data-grid thead tr th .sort-action:hover {
      opacity: 0.5; }
    table.data-grid thead tr th .sort-action .action-icon {
      padding-top: 2px;
      padding-left: 6px; }
  table.data-grid thead tr th.small {
    text-align: center;
    min-width: 80px; }
  table.data-grid thead tr th.medium {
    text-align: center;
    min-width: 120px; }
    table.data-grid thead tr th.medium#article-date {
      width: 140px; }
  table.data-grid thead tr th.date-time {
    width: 180px; }

table.data-grid tbody tr:nth-child(2n+1) {
  background-color: #f6f6f6; }

table.data-grid tbody tr:hover {
  background-color: #ecf4f8; }

table.data-grid tbody td {
  overflow-x: hidden; }
  table.data-grid tbody td.small {
    text-align: center;
    width: 80px; }
  table.data-grid tbody td.medium {
    text-align: center;
    width: 100px; }
  table.data-grid tbody td.date-time {
    text-align: center;
    width: 140px; }
  table.data-grid tbody td .notes-holder {
    color: #40c851;
    font-size: 16px; }
    table.data-grid tbody td .notes-holder:hover {
      cursor: pointer; }
